*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Estilos del preloader (contenedor del mismo)*/
#preloader{
  position: fixed;
  background: -webkit-linear-gradient(#76278F, #2B1E66);
  background: -o-linear-gradient(#76278F, #2B1E66);
  background: linear-gradient(#76278F, #2B1E66);
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
}

/* Tamaño del preloader (.gif)*/
.preloader{
  width: 100px;
  height: 100px;
}

/*Centrando el logo*/
.lyft-logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60%;
}


/*Segunda pantalla*/
.second-screen{
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-position: 100% 93%;
  height: 100%;
}

/*Botones*/
.btn-default{
  background-color: transparent;
  color: #fff;
  margin-top: 450px;
}

/*Banderitas*/
.flags{
  width: 30px;
  height: 30px;
}

/*Titulo de la pantalla Sign Up*/
h1{
  font-size: 20px;
}

/*Dropdown de las banderas*/
.dropdown-menu{
  min-width: 60px;
  text-align: center;
}

/*Botón next*/
.btn-next{
  color: #000;
  background-color: #ebebe0;
  width: 100%;
  margin-top: 4%;
}

/*Flechita*/
.glyphicon-chevron-left{
  color:  #d6d6c2;
  font-size: 20px;
}

/*Apliqué este estilo, ya que las banderas me quedaban
debajo de todo*/
.col-xs-3 {
  width: 25%;
  margin-top: -110%;
}